@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/YTqeb6udKqDQr-y7rTKNruvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

.main-list,
.blinds-list,
.roof-windows-list {
    width: 100%;
}

.main-list > li {
    width: 100%;
    float: left;
}

.main-list > li > .header {
    padding: 1em;
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 0 3px #000;
}

.blinds-list li .blind,
.roof-windows-list li .roof-window,
.cameras-list li .camera {
    text-align: center;
}

.blinds-list li .blind .header,
.roof-windows-list li .roof-window .header {
    padding: 1em;
    margin: 1em 10%;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    transition: all .5s;
}

.cameras-list li img {
    display: table;
    margin: 1em auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.bottom-menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 20;
}

.bottom-menu .content {
    padding: 1em;
}

.button {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #000;
    color: #fff;
    padding: 1em 0;
}

.button.open {
    background: #5cb85c;
}

.button.close {
    margin-top: 1em;
    background: #d9534f;
}

.closed {
    color: #fff;
    background: #d9534f;
}

.opened {
    color: #fff;
    background: #5cb85c;
}